<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block 'title' %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo_fabian_gremio.svg' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    {% block 'extra_css' %}{% endblock %}
  </head>
  <body class="{% block 'body_class' %}{% endblock %}">
    <header class="site-header">
      <nav class="site-nav">
        <div class="select_home">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo_fabian_gremio.svg' %}" alt="Logo Fabian Nutrients" />
          </a>
        </div>

        <div class="select_opcoes">
          <div class="user">
            <details>
              <summary>
                <i class="fa-solid fa-bars"></i>
                <span class="summary-default-label">Opcoes</span>
                <span class="summary-mobile-label">Menu</span>
              </summary>
              <div class="menu_items">
                <a href="{% url 'tela_tmb' %}" class="menu-mobile-only">
                  <i class="fa-solid fa-person-circle-plus"></i>
                  <span class="nav-goal-text">{{ nav_goal_label }}</span>
                </a>
                {% if user.is_authenticated %}
                  <a href="{% url 'criar_dieta' %}"><i class="fa-solid fa-receipt"></i>Criar Refeicoes</a>
                  <a href="{% url 'diet_screen' %}"><i class="fa-solid fa-bowl-food"></i>Rever dieta</a>
                  <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                {% else %}
                  <a href="{% url 'login_site' %}"><i class="fa-solid fa-user-large"></i>Login</a>
                  <a href="{% url 'registration_screen' %}"><i class="fa-solid fa-user-plus"></i>Cadastro</a>
                {% endif %}
              </div>
            </details>
          </div>

          <div class="criar_diet">
            <a href="{% url 'tela_tmb' %}" class="nav-goal-link">
              <i class="fa-solid fa-person-circle-plus"></i>
              <span class="nav-goal-text">{{ nav_goal_label }}</span>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>{% block 'sections' %}{% endblock %}</main>
    {% block 'extra_js' %}{% endblock %}
  </body>
</html>

